<page-header></page-header>
<nz-card>
  <nz-spin [nzSpinning]="loading">
    <div class="main">
      <div class="left">
        <form nz-form nzLayout="vertical" #f="ngForm" (submit)="save()" se-container="1">
          <se label="accessKey" error="此为必填项">
            <input nz-input [(ngModel)]="yun.accessKey" name="accessKey" required />
          </se>
          <se label="secretKey" error="此为必填项">
            <input nz-input type="password" [(ngModel)]="yun.secretKey" name="secretKey" required />
          </se>
          <se label="流量额度(单位MB)" error="此为必填项">
            <input nz-input [(ngModel)]="yun.quota" name="quota" required />
          </se>
          <se>
            <button nz-button nzType="primary" [disabled]="f.invalid">更新基本信息</button>
          </se>
        </form>
      </div>
      <div class="right">
        <div class="avatar"><img src="http://assets.cwm.wiki/config/tencent.png" alt="Avatar" /></div>
      </div>
    </div>
  </nz-spin>
</nz-card>
