<page-header></page-header>
<nz-card [nzBordered]="false">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="8" class="header-info">
      <i nz-icon nzType="close-circle" nzTheme="outline"></i>
      <span class="text-grey-dark">异常总数</span>
      <span class="d-block display-2">8</span>
      <em></em>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="8" class="header-info">
      <i nz-icon nzType="check-circle" nzTheme="outline"></i>
      <span class="text-grey-dark">已解决</span>
      <span class="d-block display-2">6</span>
      <em></em>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="8" class="header-info">
      <i nz-icon nzType="info-circle" nzTheme="outline"></i>
      <span class="text-grey-dark">待解决</span>
      <span class="d-block display-2">2</span>
    </div>
  </div>
</nz-card>
