<page-header [title]="'资源详情页'"></page-header>
<nz-card [nzHoverable]="true" [nzBordered]="false">
  <div class="left">
    <sv-container size="large" title="基本信息" col="1">
      <sv label="本地对象名称">JD图片未加载.png</sv>
      <sv label="远程对象名称">20200422171508_JD图片未加载.png</sv>
      <sv label="文件类型">图片</sv>
      <sv label="上传用户">admin</sv>
    </sv-container>
  </div>
  <div class="right">
    <img src="https://gw.alipayobjects.com/zos/rmsportal/HrxcVbrKnCJOZvtzSqjN.png" alt="预览" />
  </div>
  <nz-divider></nz-divider>
  <sv-container size="large" title="外链信息" col="1">
    <sv label="总链">http://localhost:9090/res/1</sv>
    <sv label="阿里云"
      >https://monitor-1251426495.oss-cn-beijing.aliyuncs.com/20200422203839_JD%E5%9B%BE%E7%89%87%E6%9C%AA%E5%8A%A0%E8%BD%BD.png</sv
    >
    <sv label="腾讯云"
      >https://monitor-1251426495.cos.ap-chengdu.myqcloud.com/20200422171508_JD%E5%9B%BE%E7%89%87%E6%9C%AA%E5%8A%A0%E8%BD%BD.png</sv
    >
    <sv label="七牛云">http://assets.cwm.wiki/20200422201527_JD%E5%9B%BE%E7%89%87%E6%9C%AA%E5%8A%A0%E8%BD%BD.png</sv>
  </sv-container>
</nz-card>
