<page-header [title]="'资源详情页'" [action]="actionTpl"></page-header>
<ng-template #actionTpl>
  <button nz-button nzType="primary" (click)="download()">下载</button>
  <button nz-button nzType="primary" nzDanger (click)="delete()">删除</button>
</ng-template>
<nz-card [nzHoverable]="true" [nzBordered]="false" [nzLoading]="loading">
  <div class="left">
    <sv-container size="large" title="基本信息" col="1" [ngSwitch]="info.fileType">
      <sv label="本地对象名称">{{ info.localName }}</sv>
      <sv label="远程对象名称">{{ info.remoteName }}</sv>
      <sv *ngSwitchCase="0" label="文件类型">附件</sv>
      <sv *ngSwitchCase="1" label="文件类型">图片</sv>
      <sv *ngSwitchCase="2" label="文件类型">多媒体</sv>
      <sv label="上传用户">{{ info.userName }}</sv>
    </sv-container>
  </div>
  <div class="right" *ngIf="info.fileType === 1">
    <img src="{{ info.link }}" alt="预览" height="300px" width="300px" />
  </div>
  <nz-divider></nz-divider>
  <sv-container size="large" title="外链信息" col="1">
    <sv label="总链">{{ info.link }}</sv>
    <sv label="阿里云">{{ info.aliyun }}</sv>
    <sv label="腾讯云">{{ info.tencent }}</sv>
    <sv label="七牛云">{{ info.qiniu }}</sv>
  </sv-container>
</nz-card>
