<page-header [title]="'用户管理'"> </page-header>
<nz-card>
  <button (click)="add(modalContent)" nz-button [nzType]="'dashed'">
    <i nz-icon nzType="plus"></i>
    <span>添加用户</span>
  </button>
  <div class="table">
    <st #st [data]="userData" [columns]="columns" [loading]="loading"></st>
  </div>
</nz-card>
<!-- [(ngModel)]="newUser.username" name="username" -->
<ng-template #modalContent>
  <nz-form-item>
    <nz-form-label nzFor="no">用户名</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="username" name="username" placeholder="请输入用户名" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="no">密码</nz-form-label>
    <nz-form-control>
      <input type="password" nz-input [(ngModel)]="password" name="password" placeholder="请输入密码" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="no">昵称</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="nickname" name="nickname" placeholder="请输入昵称" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="no">邮箱</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="email" name="email" placeholder="请输入邮箱" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="no">角色身份</nz-form-label>
    <nz-form-control>
      <nz-radio-group [(ngModel)]="type" name="type">
        <label nz-radio nzValue="0">管理员</label>
        <label nz-radio nzValue="1">普通用户</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
</ng-template>
