<page-header class="header"> </page-header>
<div nz-row [nzGutter]="16">
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <g2-card
      [title]="'访问量'"
      [bordered]="true"
      [total]="'126,560'"
      footer="日访问量 2,423"
      contentHeight="46"
      [action]="action1"
      [avatar]="trend"
    >
      <ng-template #trend><img style="width: 56px; height: 56px; border-radius: 0;" src="./assets/img/trend.svg" /></ng-template>
      <ng-template #action1>
        <i nz-tooltip nzTooltipTitle="资源访问量" nz-icon nzType="info-circle"></i>
      </ng-template>
    </g2-card>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <g2-card
      [title]="'上传量'"
      [bordered]="true"
      [total]="'6,560'"
      footer="日上传量 423"
      contentHeight="46"
      [action]="action2"
      [avatar]="upload"
    >
      <ng-template #upload><img style="width: 56px; height: 56px; border-radius: 0;" src="./assets/img/upload.svg" /></ng-template>

      <ng-template #action2>
        <i nz-tooltip nzTooltipTitle="资源上传量" nz-icon nzType="info-circle"></i>
      </ng-template>
    </g2-card>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <g2-card
      [title]="'下载量'"
      [bordered]="true"
      [total]="'103,220'"
      footer="日下载量 1,234"
      contentHeight="46"
      [action]="action3"
      [avatar]="download"
    >
      <ng-template #download><img style="width: 56px; height: 56px; border-radius: 0;" src="./assets/img/download.svg" /></ng-template>
      <ng-template #action3>
        <i nz-tooltip nzTooltipTitle="资源下载量" nz-icon nzType="info-circle"></i>
      </ng-template>
    </g2-card>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <g2-card
      [title]="'异常量'"
      [bordered]="true"
      [total]="'223'"
      footer="日异常量 5"
      contentHeight="46"
      [action]="action4"
      [avatar]="warning"
    >
      <ng-template #warning><img style="width: 56px; height: 56px; border-radius: 0;" src="./assets/img/warning.svg" /></ng-template>

      <ng-template #action4>
        <i nz-tooltip nzTooltipTitle="资源异常量" nz-icon nzType="info-circle"></i>
      </ng-template>
    </g2-card>
  </div>
</div>

<g2-card [title]="'周访问量'">
  <div nz-row nzGutter="24">
    <g2-bar height="300" [data]="salesData" nz-col nzSpan="16"></g2-bar>
    <div nz-col nzSpan="8">
      <div nz-row>
        <div nz-col nzSpan="24" class="progress">
          <h2>阿里云</h2>
          <span>访问量占比</span>
          <nz-progress [nzPercent]="90" nzStrokeColor="#ff6a00"></nz-progress>
        </div>
        <div nz-col nzSpan="24" class="progress">
          <h2>腾讯云</h2>
          <span>访问量占比</span>
          <nz-progress [nzPercent]="10" nzStrokeColor="#17202f"></nz-progress>
        </div>
        <div nz-col nzSpan="24" class="progress">
          <h2>七牛云</h2>
          <span>访问量占比</span>
          <nz-progress [nzPercent]="0" nzStrokeColor="#00a7e1"></nz-progress>
        </div>
      </div>
    </div>
  </div>
</g2-card>

<div nz-row nzGutter="16">
  <div nz-col nzSpan="8">
    <nz-card nzTitle="最新公告" [nzExtra]="titleExtra">
      <ng-template #titleExtra>
        <a routerLink="/notice">查看更多></a>
      </ng-template>
      <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="py-sm bg-grey-lighter-h point" *ngFor="let item of noticeData">
        <div nz-col [nzSpan]="24">
          <strong>{{ item.title }}</strong>
          <p class="mb0">{{ item.content }}</p>
        </div>
      </div>
    </nz-card>
  </div>
  <div nz-col nzSpan="16">
    <nz-card nzTitle="用量剩余">
      <div nz-row nzType="flex" nzJustify="space-around">
        <div nz-col nzSpan="8">
          <g2-pie percent="60" subTitle="阿里云" total="60%" height="150" color="#ff6a00"></g2-pie>
        </div>
        <div nz-col nzSpan="8">
          <g2-pie percent="90" subTitle="腾讯云" total="90%" height="150" color="#17202f"></g2-pie>
        </div>
        <div nz-col nzSpan="8">
          <g2-pie percent="100" subTitle="七牛云" total="100%" height="150" color="#00a7e1"></g2-pie>
        </div>
      </div>
    </nz-card>
  </div>
</div>
